<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 sm-0 mx-auto">
<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

 <div class="form-group">
 <label for="title">Title</label>
 <br>
 <%= f.text_field :title %>
 <br>
 </div>

 <div class="form-group">
 <label for="book body">Opinion</label>
 <br>
 <%= f.text_area :body %>
 </div>

 <div class="form-group">
 <%= f.submit 'Update Book', class: "btn btn-md btn-success" %>

 </div>

<% if @book.present? %>
 <span>
 <%= link_to "show", book_path(@book.id) %>
 </span>
<% end %>

<a href = "/books">Back</a>

 <% end %>
 </div>
 </div>
 </div>

